@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2727 Five Mile Rd<br />
    Racine, WI 53402<br />
    <abbr title="Phone">P:</abbr>
    262.939.7827
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:MichaelRackowski@gmail.com">MichaelRackowski@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>