
@{
    ViewBag.Title = "JoinFailed";
}

<h2>JoinFailed</h2>

<p>
    You're trying to join a full playing event please choose a different Event
</p>



<p>
    @Html.ActionLink("Back to events","Details","Sport")
</p>

