
@{
    ViewBag.Title = "Join";
}

<h2>Join</h2>

<p>
    You've joined this event you spot is reserved!
</p>

<p>
    @Html.ActionLink("View the Event","Details"@*,new { id = playingEvent.Id }*@)
</p>